﻿<%@ Page Title="弊社について" Language="vb" MasterPageFile="~/Site.Master" AutoEventWireup="false"
    CodeBehind="About.aspx.vb" Inherits="DocExampleVBWeb.About" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
        バージョン情報
    </h2>
    <p>
        コンテンツをここに入力します。
    </p>
</asp:Content>
